<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        :root {
            --accent-color: {{ .Site.Params.AccentColor | default "#FF4D4D" }};
            --font-size: {{ .Site.Params.FontSize | default "1.1rem" }};
        }
    </style>

    {{ $title := .Title | markdownify | default .Site.Title }}
    {{ $description := ((.Description | default (.Summary | default .Content) | default .Site.Params.Description) | plainify | truncate 160) }}
    {{ $image := .Params.image | default (.Scratch.Get "avatarImgSrc") }}
    {{ $siteKeywords := .Site.Params.MetaKeywords | default (slice) }}
    {{ $postKeywords := .Params.tags | default (slice) }}
    {{ $keywords := union $siteKeywords $postKeywords }}

    <!-- SEO titles & descriptions -->
    <title>{{ $title }}</title>
    <meta name="description" content="{{ $description }}">
    <meta name="keywords" content='{{ delimit $keywords ", "}}'>

    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:image" content="{{ absURL $image }}">
    <meta property="og:image:secure_url" content="{{ absURL $image }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ $title }}">
    <meta name="twitter:description" content="{{ $description }}">
    <meta property="twitter:domain" content="{{ .Permalink }}">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:image" content="{{ absURL $image }}">

    <!-- SEO canonicals: helps Google understand your site better when using marketing campaign tagging etc -->
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#43434B">

    {{ $cssNormalize := resources.Get "css/normalize.min.css" }}
    <link rel="stylesheet" type="text/css" href="{{ $cssNormalize.RelPermalink }}" media="print">

    {{ $cssMain := resources.Get "css/main.css" | minify }}
    <link rel="stylesheet" type="text/css" href="{{ $cssMain.RelPermalink }}">

    {{ $cssDark := resources.Get "css/dark.css" | minify }}
    <link id="dark-theme" rel="stylesheet" href="{{ $cssDark.RelPermalink }}">

    {{ $jsBundle := resources.Match "js/**.js" | resources.Concat "js/bundle.js" | minify | resources.Fingerprint "sha256" }}
    <script src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}"></script>

    <!-- Option for user to inject custom html -->
    {{ if .Site.Params.CustomHeadHTML }}
    {{ .Site.Params.CustomHeadHTML | safeHTML }}
    {{ end }}

    <!-- MailerLite Universal -->
    <script>
        (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
        .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
        n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
        (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
        ml('account', '1462037');
    </script>
    <!-- End MailerLite Universal -->
</head>
